# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.playground

# User-specific Xcode files
# (This stops the UserInterfaceState errors)
**/xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# macOS
.DS_Store